*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.termsOfUse{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    padding: 20px;
}