.cards {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.products {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 23%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .button {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  img {
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }

  h3 {
    font-size: 12px;
    color: black;
    margin: 10px 0;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    color: rgb(217, 31, 70);
    font-weight: 400;
  }

  .button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
  }

  &:hover {
    .button {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.button button {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: pink;
  }
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.error {
  color: red;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 575px) {
  .card {
    width: 70%;
  }
}
